
header{
    max-width: 1200px;
 margin: auto;
 margin-top: 30px;
}


h3{
    max-width: 1200px;
    text-align: left;
    margin: auto;
    margin-top: 20px;

}

span{
    color:#46A358 ;
}

section{

    max-width: 1200px;
    margin: auto;
    text-align: left;
    background-color:#F5F5F580 ;
    height: 450px;
}

.section1 .container1{
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    padding: 30px 15px;
}

.left{
    max-width: 600px;
    margin-left: 30px;
}

.section1 .left{
    display: inline-block;
}

.zagolovok{
font-family: Cera Pro;
font-weight: 900;
font-size: 70px;
line-height: 70px;
letter-spacing: 0%;
text-transform: uppercase;
margin: auto;
color:#3D3D3D ;

}


.btn{
    background-color: #46A358;
    color:#FFFFFF ;
    padding: 11px 26px 9px;
    border-radius: 6px;
    font-family: Cera pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    border:#46A358 ;
}

a{
 color:#3D3D3D;
 margin-right: 50px;
 text-decoration: none;
 font-size: 16px;
}


.btn1{
    background-color:#46A358 ;
    padding: 8px 24px 7px;
    color: #FFFFFF;
    font-family: Cera pro;
    border-radius: 6px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
margin: auto;
}


.heade{
    display: flex;
    margin-left: 50px;
    margin: auto;
    max-width: 1200px;
     align-items: center; 
     
}


h2{
    color:#46A358 ;
}

a:hover{
    color: #252424;
}



p{
   color:#727272 ; 
  
}




.navigation{
   max-width: 1200px; 
   margin: auto;
}


hr{
    max-width: 1200px;
    color: #ffffff;
    font-size: 1px;
    height: 0px;
}




.section1 .right{
    display: inline-block;
    max-width: 100%;
}

