

header{
    max-width: 1200px;
 margin: auto;
 margin-top: 10px;
}


h3{
    max-width: 1200px;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    color: #3D3D3D;
    font-family: 'CeraPro',;
}

span{
    color:#46A358 ;
}

section{

    max-width: 1200px;
    margin: auto;
    text-align: left;
    background-color:#F5F5F580 ;
    height: 450px;
}

.section1 .container1{
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    padding: 30px 15px;
}

.left{
    max-width: 600px;
    margin-left: 30px;
    max-width: 60%;
}

.section1 .left{
    display: inline-block;
    max-width: 60%;
    max-width: 600px;
}

.zagolovok{
font-family: Cera Pro;
font-weight: 900;
font-size: 70px;
line-height: 70px;
letter-spacing: 0%;
text-transform: uppercase;
margin: auto;
color:#3D3D3D ;
font-family: 'CeraPro',;
}


.btn{
    background-color: #46A358;
    color:#FFFFFF ;
    padding: 11px 26px 9px;
    border-radius: 6px;
    font-family: Cera pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    border:#46A358 ;
}
.navigation {
   & > ul{
     display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-top: 40px;


 > li{
        padding-bottom: 25px;
        border-bottom: 3px solid transparent;
        position: relative;
        padding-bottom: 25px;
        text-align: left;

        &:hover{
            border-color: #46A358;

         &:hover > ul {
            display: block;
            
         }   
        }
   ul{
    display: none;

    li{
        &:hover{
            background-color:#1A712A ;
            color:#FFFFFF ;
        }
    }
   }
        
       }

    }
  & > ul ul {
    
    z-index: 1;
    top: 100%;
    position: absolute;
    padding-top: 20px;
    right: -75px;
    li{
        min-width: 150px;
        padding: 8px 14px;
        list-style: none;
  background-color:#EDF6EE ;

&:hover {
    ul{
        display: block;
    
    }
}

    }
  }

  > li > ul >  li > ul{

z-index: 1;
position: relative;
left: 100%;
top: 0;
padding-left: 4px;
 }

li{
    max-width: 140px;
}

> ul > li > ul > li > ul {
  position: absolute;
  top: 0;       
  left: 83%;   
  display: none;
}
}



.a{
    margin-right: 40px;
}

a{
 color:#3D3D3D;
 
 text-decoration: none;
 font-size: 16px;
}


.btn1{
    background-color:#46A358 ;
    padding: 8px 24px 7px;
    color: #FFFFFF;
    font-family: Cera pro;
    border-radius: 6px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    margin: auto;
    margin-right: auto;

}


.heade{
    display: flex;
    margin-left: 50px;
    margin: auto;
    max-width: 1200px;
     align-items: center; 
     
}


h2{
    color:#46A358 ;
}

a:hover{
    color: #252424;
}



p{
   color:#727272 ; 
  font-family: 'CeraPro',;
}




.navigation{
   max-width: 1200px; 
   margin: auto;
   display: flex;
   align-items: center;

}


hr{
    max-width: 1200px;
    color: #ffffff;
    font-size: 1px;
    height: 0px;
}




.section1 .right{
    max-width: 40%;
   display: inline-block;
    position: relative;
    width: 100%;
  min-height: 435px;
    img{
        position: absolute;
        width: 100%;
        height: 450px;
        margin-left: 70px;
    }
   .smail-img{
    left: 45px;
    bottom: 0px;
    width: 135px;
    height: 135px;
   }

}


.large-img{
    height: 100%;
    min-width: 400px;
}